.examsCalendar {
  .rbc-calendar {
    .rbc-toolbar {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;

      // h2 for month title
      .rbc-toolbar-label {
        display: flex;
        justify-content: flex-start;
        margin-top: 5rem;
        color: theme-color("dark");
        font-family: $font-family-BasierCircle-Bold;
        @include rem(font-size, $h2-font-size);
        @include rem(letter-spacing, 0);
        @include rem(line-height, $h2-line-height);

        @include media-breakpoint-down(sm) {
          margin-top: 2rem;
          @include rem(font-size, $h2-font-size-mobile);
          @include rem(line-height, $h2-line-height-mobile);
          @include rem(letter-spacing, 0);
        }
      }

      // today, prev and next buttons
      .rbc-btn-group {
        button {
          border: none;
          background: none;
          outline: none;
          text-transform: lowercase;

          // font styling
          color: theme-color("dark");
          font-family: $font-family-BasierCircle-SemiBold;
          @include rem(font-size, $h4-font-size);
          @include rem(letter-spacing, 1px);
          @include rem(line-height, $h4-line-height);

          @include media-breakpoint-down(sm) {
            @include rem(font-size, $h4-font-size-mobile);
            @include rem(line-height, $h4-line-height-mobile);
            @include rem(letter-spacing, 0.5px);
          }

          &:active,
          &:focus {
            box-shadow: none;
          }
        }
      }

      // right and left arrow
      button:nth-child(2) {
        color: transparent;

        &:after {
          content: "";
          border: solid theme_color("dark");
          border-width: 0 4px 4px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(135deg);
        }
      }
      button:nth-child(3) {
        color: transparent;

        &:after {
          content: "";
          border: solid theme_color("dark");
          border-width: 0 4px 4px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(-45deg);
        }
      }
    }

    .rbc-month-view {
      // box-content
      margin-bottom: 30px;
      margin-top: 10px;
      border: 2px solid theme-color("dark");
      box-shadow: 10px 10px 0px -2px theme-color("dark");

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }

      .rbc-month-header {
        text-transform: lowercase;
        border-right: 1px solid theme_color("dark");
        border-left: 1px solid theme_color("dark");
        border-top: 1px solid theme_color("dark");

        .rbc-header {
          // weekdays
          padding: 5px;
          border: 1px solid theme_color("dark");
          span {
            font-family: $font-family-BasierCircle-Bold;
          }
        }
      }

      .rbc-month-row {
        border: 1px solid theme_color("dark");
        .rbc-day-bg {
          border-right: 0.5px solid theme_color("dark");
          border-left: 0.5px solid theme_color("dark");
        }
        .rbc-row {
          .rbc-date-cell {
            // date number in cell
            margin: 5px;
            a {
              font-family: $font-family-BasierCircle-Bold;
              @include rem(font-size, $font-size-14);
              letter-spacing: 0;
              @include rem(line-height, 20px);
              margin: 0;
            }
          }
          .rbc-event {
            // event in cell
            background: theme_color("primary-blue-dark");
            color: theme_color("light");
            border-radius: 0;
            font-family: $font-family-OpenSans-Regular;
            @include rem(font-size, $font-size-14);
            letter-spacing: 0;
            @include rem(line-height, 20px);
            margin: 0;
          }
          .rbc-show-more {
            padding: 3px;
            font-family: $font-family-OpenSans-Regular;
            @include rem(font-size, 12px);
            letter-spacing: 0;
            @include rem(line-height, 20px);
            margin: 0;
          }
          .rbc-selected {
            &:focus,
            &:active {
              outline: none;
            }
          }
        }
        .rbc-today {
          background-color: theme_color("primary-blue");
        }
      }
    }
  }
}

.bs-popover-top {
  > .arrow {
    &:before {
      border-top-color: theme_color("dark");
    }
  }

  p  {
    font-size: 12px;
  }
}
