.form {
  &__left {
  }
  &__right {
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    &--top {
      div:nth-child(2) {
        padding: 25px 0;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    &--numbers {
      .add-new__form__element {
        @include media-breakpoint-down(xl) {
          width: 150px;
        }
        @include media-breakpoint-down(lg) {
          width: auto;
        }
      }
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 25px 25px;

    &__label {
    }
    &__input {
    }
  }

  &__study-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &--input {
      flex: 1;
    }

    &--buttons {
      button {
        margin: 0 16px;
        font-size: 25px;
        background: none;
        border: none;

        &:focus,
        &:active {
          outline: none;
        }
      }
    }
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    @include media-breakpoint-down(xs) {
      justify-content: center;
    }
  }

  // ERROR HANDLING - EDIT EXAM
  .graphql-error {
    margin-left: 25px;
  }

  #success-container-edit-exam {
    display: none;
    .success {
      text-align: right;
      max-width: none;
      margin-top: 30px;
    }
  }
  // ----------------
}
