.imprint {
  &__headline {
    padding-bottom: 50px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 25px;
    }
  }
  &__content {
    margin: 25px 0;

    &--contact {
      padding: 5px 0;
    }
    &--link {
      border-bottom: 1px solid theme-color("dark");
    }
    &--line {
      width: 70%;
      color: black;
      height: 3px;
    }
  }
}
