.imprint {
  &__headline {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 80px;
    }

    &--mascot {
      width: 140px;
      position: absolute;
      right: 0;
      bottom: -10px;
    }
  }
  &__content {
    margin: 25px 0;

    &--contact {
      padding: 5px 0;
    }

    &--link {
      border-bottom: 1px solid theme-color("dark");
    }
  }
}
