.exam-details {
  &__headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;

    &--back-btn {
      position: relative;
      border: none;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      line-height: 50px;
      display: inline-block;
      padding-top: 58px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        transform: rotate(-45deg);
        margin-top: -50px/2;
        margin-left: -10px/2;
        display: block;
        height: 10px;
        width: 50px;
        background-color: theme_color("dark");
        transition: all 0.25s ease-out;

        @include media-breakpoint-down(md) {
          height: 4px;
        }
        @include media-breakpoint-down(sm) {
          width: 40px;
        }
      }
      &:after {
        transform: rotate(-135deg);
      }

      &:hover {
        &:before,
        &:after {
          transform: rotate(0deg);
        }
      }

      &:hover,
      &focus {
        outline: none;
      }
    }
  }

  &__inner {
    &--bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 18px;
      position: relative;

      .line {
        position: absolute;
        border-bottom: 3px solid theme_color("dark");
        bottom: 0;
        left: 1%;
        right: 1%;
        width: 98%;
      }
    }

    &--details {
      padding: 10px;

      &--flex-container {
        display: flex;
      }

      &--left {
        div {
          padding: 10px;
        }
      }
      &--right {
        margin: 10px;

        // .bar {
        //   display: flex;
        //   flex-direction: row;
        // }
      }
      &--bottom {
        padding: 10px;
      }
    }
  }
}

.exam-bar {
  position: relative;
  height: 15px;
  width: 100%;
  border: 2px solid theme_color("dark");
}

.filler {
  position: absolute;
  left: 0;
  top: 0;
  background: theme_color("dark");
  height: 100%;
  transition: width 0.3s ease-in;
}
