.popup {
  margin-top: 220px;
  &__inner {
    padding: 40px;

    &--content {
      .text {
        padding-bottom: 40px;
      }
      .login-btn {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
