.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &__line {
    width: 40px;
    height: 4px;
    background: theme-color("dark");
  }

  @include media-breakpoint-down(md) {
    display: flex;
  }
}
