.burger {
  padding: 30px;
  display: flex;
  justify-content: flex-end;

  .close {
    z-index: 300;
    .line-1 {
      transform: rotate(45deg);
    }
    .line-2 {
      width: 0%;
      opacity: 0;
    }
    .line-3 {
      transform: rotate(-45deg);
    }
  }

  &__btn {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    &:focus {
      outline: none;
    }

    &__line {
      display: block;
      border-radius: 9px;
      background: theme-color("dark");
      height: 6px;
      width: 50px;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      transform-origin: left center;
    }

    @include media-breakpoint-down(md) {
      display: flex;
    }
  }
}
