.reset-password {
  h2 {
    text-align: center;
  }
  #forgotten-password-error {
    display: none;
    p {
      text-align: center;
      max-width: none;
    }
  }

  #success-save-password {
    display: none;
    p {
      text-align: center;
      max-width: none;
    }
  }
}
