.today-goals {
  padding-bottom: 10px;
  max-width: 50rem;

  @include media-breakpoint-down(lg) {
    margin: 0 auto 30px auto;
  }

  .container-fluid {
    padding: 0;
  }

  &__container {
    padding: 10px 10px 0 10px;
    &__header {
      border-bottom: 3px solid theme-color("dark");
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__heading {
      }
      &__time {
        margin-left: 10px;
        text-align: right;
      }
    }
  }
}
