.forgottenPassword {
  &__form {
    &__headline {
      margin-bottom: 20px;
    }
    &__content {
      margin-bottom: 20px;
    }

    &__button {
      margin-top: 20px;
    }
    &__bottom {
      &__inner {
        @include media-breakpoint-down(md) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

#success-container-forgotten-password {
  width: 100%;
  display: none;
  p {
    text-align: center;
    max-width: none;
  }
}
