.home {
  .container-fluid {
    padding: 0;
  }
  &__heading {
    padding-bottom: 30px;
  }
  &__text {
    padding-bottom: 15px;
  }
  &__list {
    padding-bottom: 35px;
  }
  &__btn {
    padding-bottom: 50px;
  }
}
