.login {
  &__form {
    display: flex;
    flex-direction: column;

    &__buttons {
      display: flex;
      padding: 10px;
    }
  }
  &__redirect-signup {
    display: flex;
    justify-content: center;
    &__text,
    &__link {
      padding: 10px; // TODO: nur zum Anschauen, später ändern!
    }
  }
}
