.login {
  &__headline {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__sub-heading {
      padding: 15px;
    }
  }
  &__form-container {
    border: 4px solid theme-color("dark");
    box-shadow: 10px 10px 0px -2px theme-color("dark");
    padding: 80px 110px;
  }
}
