.add-new {
  .container-fluid {
    padding: 0;
  }

  &__heading {
    font-family: $font-family-BasierCircle-Bold;
    border-bottom: 3px solid theme-color("dark");
    padding: 5px 0;
    margin: 5px;
  }

  &__form {
    &__container {
      display: flex;
      flex-direction: row;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      &--numbers {
        input {
          width: 95px;

          @include media-breakpoint-down(md) {
            width: auto;
          }
        }
      }
    }

    &__element {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 25px 25px;

      &__label {
      }
      &__input {
      }
    }

    &__submit {
      display: flex;
      justify-content: flex-end;
    }
  }
}
