.add-new {
  padding: 20px;
  max-width: 80rem;

  .container-fluid {
    padding: 0;
  }
  &__heading {
    font-family: $font-family-BasierCircle-Bold;
    border-bottom: 3px solid;
    border-color: theme-color("dark");
    padding: 5px 0;
    margin: 5px;
  }

  // ERROR HANDLING
  #success-container-add-new {
    display: none;

    .success {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      max-width: none;
      margin-top: 20px;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }
  }
  // -----------------
}
