.signup {
  &__form {
    display: flex;
    flex-direction: column;

    &__buttons {
      display: flex;
      flex-direction: row;
      padding: 10px; // TODO: nur zum Anschauen, später ändern!
    }
    &__redirect-signup {
      display: flex;
      justify-content: center;
      &__text,
      &__link {
        padding: 10px; // TODO: TODO: nur zum Anschauen, später ändern!
      }
    }
  }
}
