.user-account {
  &__headline {
    padding-bottom: 60px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 40px;
    }
  }
  &__container {
    &--left {
      &--top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .user-data {
          display: flex;
          flex-direction: column;
          padding: 40px;
        }
        .buttons {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 10px;

          button {
            border: none;
            text-transform: lowercase;
            transition: all 0.3s ease;
            background: none;

            &:hover {
              color: theme_color("primary-yellow");
            }
            &:focus,
            &:active {
              outline: none;
            }

            // font styling
            font-family: $font-family-OpenSans-Regular;
            @include rem(font-size, $font-size-16);
            letter-spacing: 0;
            @include rem(line-height, 22px);
            margin: 0;
            max-width: 65ch;

            @include media-breakpoint-down(sm) {
              @include rem(font-size, $font-size-14);
              @include rem(line-height, 18px);
            }
          }
        }
      }
      &--bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px;

        @include media-breakpoint-down(1024px) {
          flex-direction: column;
          padding: 20px;
        }

        @include media-breakpoint-down(sm) {
          flex-direction: row;
        }

        // font styling
        .total-exam,
        .finished-exam {
          padding: 10px;

          p {
            text-align: center;
          }

          span {
            display: flex;
            justify-content: center;
            color: theme_color("primary-blue-dark");
            font-family: $font-family-BasierCircle-Bold;
            @include rem(font-size, $h1-font-size);
            @include rem(line-height, $h1-line-height);
            @include rem(letter-spacing, 0);

            @include media-breakpoint-down(sm) {
              @include rem(font-size, $h1-font-size-mobile);
              @include rem(line-height, $h1-line-height-mobile);
              @include rem(letter-spacing, 0);
            }
          }
        }
      }
    }

    &--right {
      &--top {
        padding: 44px;
      }
      &--bottom {
        display: flex;
        justify-content: center;

        .carousel {
          .slide {
            background: none;
            padding: 15px;

            img {
              width: 235px;
            }
            &:before {
              content: "";
            }
          }
        }
      }
    }
  }
}
