.user-account {
  &__edit {
    padding: 20px;

    // ERROR HANDLING
    #retype-password-error {
      display: none;
      padding-left: 25px;
    }

    // edit user & mascot
    #success-container-edit-user,
    #success-container-edit-mascot {
      display: none;
      .success {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        max-width: none;

        @include media-breakpoint-down(sm) {
          justify-content: center;
        }
      }
    }
    .graphql-user-edit-error,
    .graphql-user-mascot-edit-error {
      display: flex;
      justify-content: flex-start;
      max-width: none;
      padding: 0 25px;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }

    // delete user
    .graphql-user-delete-error {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    #success-container-delete-user {
      display: none;
      .success {
        padding-top: 8px;
        display: flex;
        justify-content: center;
      }
    }
    // ----------------------------

    &--form {
      margin: 40px 15px;

      &__button {
        display: flex;
        justify-content: flex-end;
        // margin-top: 20px;
        // margin-right: 5px;

        @include media-breakpoint-down(sm) {
          justify-content: center;
        }
      }
    }

    &__carousel {
      margin: 25px 25px 0 25px;
      display: flex;
      flex-direction: column;

      h4 {
        padding-bottom: 20px;
      }
    }

    &--heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 3px solid theme_color("black");
      padding: 5px 0;
      margin: 5px;

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
      &--delete-btn {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        @include media-breakpoint-down(xs) {
          justify-content: flex-end;
          padding-bottom: 10px;
        }
        // @include media-breakpoint-down(sm) {
        //   text-align: right;
        //   padding-bottom: 15px;
        // }

        .back-button {
          transition: all 0.3s ease;
          &:hover {
            color: theme_color("primary-yellow");
          }
        }
        .delete-button {
          color: theme_color("error-hover");
          margin-left: 18px;
        }
        a,
        button {
          border: none;
          background: none;
          box-shadow: none;
          outline: none;
          text-transform: lowercase;
          padding: 0;
          margin-left: 0;
          font-family: $font-family-OpenSans-Regular;

          @include rem(font-size, $font-size-16);
          letter-spacing: 0;
          @include rem(line-height, 22px);
          margin: 0;
          max-width: 65ch;

          @include media-breakpoint-down(sm) {
            @include rem(font-size, $font-size-14);
            @include rem(line-height, 18px);
          }

          &:active,
          &:focus {
            outline: none;
          }
        }
      }
    }

    &--popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 250;
      overflow: auto;

      &--inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: theme_color("light");
        padding: 50px;

        &--headline {
          padding-bottom: 45px;

          @include media-breakpoint-down(xs) {
            text-align: center;
          }
        }

        &--buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          @include media-breakpoint-down(xs) {
            flex-direction: column;
          }

          @include media-breakpoint-down(md) {
            button {
              margin: 5px 5px;
            }
          }
        }
      }
    }
  }
}

.form {
  &__element {
    &--headline {
      padding-bottom: 20px;
    }
  }
  &__passwordToggle {
    padding: 20px 0;

    &--button {
      border: none;
      color: theme-color("dark");
      transition: all 0.3s ease;
      background: none;
      padding-left: 25px;

      &:focus {
        outline: none;
      }
    }

    i {
      border: solid theme_color("dark");
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      margin-bottom: 2px;
      margin-left: 8px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 2px;
      }
    }

    .arrow {
      transition: transform 0.2s;
    }
    .right {
      transform: rotate(-45deg);
    }
    .down {
      transform: rotate(45deg);
    }
  }
}
