.exams {
  .current-exams {
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
  }
  .archive-exams {
    display: flex;
    flex-direction: row;
  }
  &__archive-button {
    border: none;
    h3 {
      transition: all 0.3s ease;
      &:hover {
        color: theme_color("primary-yellow");
      }
    }
  }

  .show {
    display: block;
  }
  .close {
    display: none;
  }
}
