// Styling for Login & SignUp
.login {
  &__form {
    display: flex;
    flex-direction: column;
    padding: 80px 100px;

    &__password-label,
    &__email-label {
      padding-top: 16px;
    }
    &__buttons {
      display: flex;
      padding-top: 35px;
      &__button-left {
        padding-right: 10px;
      }
    }
    &__redirect-signup {
      display: flex;
      justify-content: center;
      padding-top: 20px;

      &__text {
        color: theme-color("grey-dark");
        padding-right: 10px;
      }
    }
  }
}
